.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #161625;
  color: white;
  flex-wrap: wrap;
  position: relative;
  font-size: 1.4rem;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.navbar-links li {
  cursor: pointer;
}

.sign-in-btn {
  background-color: #f57c00;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-btn:hover {
  background-color: #e67600;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
    display: none;
    background-color: #161625;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1rem 0;
  }

  .navbar-links.active {
    display: flex;
  }
}
